{% extends 'dash.html' %}
{% block content %}
 
 <div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#dashboard">Dashboard </a></li>
    <li><a data-toggle="tab" href="#district">District Leaders </a></li>
    <li><a data-toggle="tab" href="#constituency">Constituency Leaders</a></li>
    <li><a data-toggle="tab" href="#ledges">Ledges</a></li>
    <li><a data-toggle="tab" href="#others">Other leaders </a></li>
      <ul class="nav nav-right">
        <li><a class="btn btn-default btn-xs pull-right" href="register">Register Account </a></li>
       <li><a class="btn btn-default btn-xs pull-right" href="upload">Enter new leaders </a></li>
       <li><a class="btn btn-default btn-xs pull-right" href="dashboard">Import Excel File </a></li>
      </ul>
      <h3 class="text-center pull-right"><span class="label label-inverse"><a href="/"> logout </a></span></h3>
  </ul>
  {% include 'messages.html' %}
  <br>
  <div class="tab-content">

      <div id="dashboard" class="tab-pane fade in active">
                    <div style="padding: 25px 0px 0px 0px">
                     <table class="table table-bordered">
                      <thead style="background-color: #FFFF00;">
                        <tr>
                          <th>ID</th>
                           <th>Subcounty</th>
                           <th>Parish Name</th>
                          <th>Villages</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for person in people %}
                        <tr>
                          <td>{{person.id}}</td>
                          <td>{{person.subcounty}}</td>
                          <td>{{person.parish}}</td>
                          <td><a href="#">{{person.village}}</a></td>
 <td><a href="# class="btn btn-info pull-right btn-sm"><span class="glyphicon glyphicon-edit">Edit</span></a></td>
     <td>
    <form action="" method="post" onsubmit="return confirm('Are you sure you want to delete?')">
      <input type="hidden" name="method" value="DELETE">
      <button type="submit" name="Delete" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i>Delete</button>
    </form>
  </td>
                         
                        </tr>
                        {% endfor %}
                         
                      </tbody>
                     </table>
                    </div>

    </div>
    <div id="district" class="tab-pane fade in active">
      <h3>District Leaders </h3>
  <div class="container">
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#LC5">LC5 Chairperson</a></li>
    <li><a data-toggle="pill" href="#womanmp">Woman MP</a></li>
    <li><a data-toggle="pill" href="#womanc">Woman Counsellor</a></li>
    <li><a data-toggle="pill" href="#nrmcp">NRM Chairperson</a></li>
    <li><a data-toggle="pill" href="#special">Special GPs</a></li>
    <li><a data-toggle="pill" href="#ermp">ER MPs</a></li>
    <li><a data-toggle="pill" href="#army">ARMY MPs</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="LC5" class="tab-pane fade in active">
    <h3>LC5 Chairpersons List</h3>
                     <div style="padding: 25px 0px 0px 0px">
                     <table class="table table-bordered">
                      <thead style="background-color: #FFFF00;">
                        <tr>
                          <th>FULL NAME</th>
                           <th>EMAIL</th>
                           <th>POSITION</th>
                          <th>YEAR OF DUTY</th>
                          <th>CONTACT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>John Doe</td>
                          <td>John@yahoo.com</td>
                          <th>POSITION</th>
                          <td>2017</td>
                          <td>0789606573</td>
                        </tr>
                      </tbody>
                     </table>
                     </div>
    </div>

    <div id="womanmp" class="tab-pane fade in active">
    <h4>Woman MP</h4>
    <br>
                         <div style="padding: 25px 0px 0px 0px">
                     <table class="table table-bordered">
                      <thead style="background-color: #FFFF00;">
                        <tr>
                          <th>FULL NAME</th>
                           <th>EMAIL</th>
                           <th>POSITION</th>
                          <th>YEAR OF DUTY</th>
                          <th>CONTACT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>John Doe</td>
                          <td>John@yahoo.com</td>
                          <th>POSITION</th>
                          <td>2017</td>
                          <td>0789606573</td>
                        </tr>
                      </tbody>
                     </table>
                     </div>

    </div>

    <div id="womanc" class="tab-pane fade in active">
    <h4>Woman counsellor</h4>
                         <div style="padding: 25px 0px 0px 0px">
                     <table class="table table-bordered">
                      <thead style="background-color: #FFFF00;">
                        <tr>
                          <th>FULL NAME</th>
                           <th>EMAIL</th>
                           <th>POSITION</th>
                          <th>YEAR OF DUTY</th>
                          <th>CONTACT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>John Doe</td>
                          <td>John@yahoo.com</td>
                          <th>POSITION</th>
                          <td>2017</td>
                          <td>0789606573</td>
                        </tr>
                      </tbody>
                     </table>
                     </div>

    </div>
    <div id="nrmcp" class="tab-pane fade in active">
    <h4>NRM chairperson</h4>
                         <div style="padding: 25px 0px 0px 0px">
                     <table class="table table-bordered">
                      <thead style="background-color: #FFFF00;">
                        <tr>
                          <th>FULL NAME</th>
                           <th>EMAIL</th>
                           <th>POSITION</th>
                          <th>YEAR OF DUTY</th>
                          <th>CONTACT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>John Doe</td>
                          <td>John@yahoo.com</td>
                          <th>POSITION</th>
                          <td>2017</td>
                          <td>0789606573</td>
                        </tr>
                      </tbody>
                     </table>
                     </div>

    </div>
    <div id="special" class="tab-pane fade in active">
    <h4>Special GPs</h4>
                         <div style="padding: 25px 0px 0px 0px">
                     <table class="table table-bordered">
                      <thead style="background-color: #FFFF00;">
                        <tr>
                          <th>FULL NAME</th>
                           <th>EMAIL</th>
                           <th>POSITION</th>
                          <th>YEAR OF DUTY</th>
                          <th>CONTACT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>John Doe</td>
                          <td>John@yahoo.com</td>
                          <th>POSITION</th>
                          <td>2017</td>
                          <td>0789606573</td>
                        </tr>
                      </tbody>
                     </table>
                     </div>

    </div>
    <div id="ermp" class="tab-pane fade in active">
    <h4>ER MPs</h4>
                         <div style="padding: 25px 0px 0px 0px">
                     <table class="table table-bordered">
                      <thead style="background-color: #FFFF00;">
                        <tr>
                          <th>FULL NAME</th>
                           <th>EMAIL</th>
                           <th>POSITION</th>
                          <th>YEAR OF DUTY</th>
                          <th>CONTACT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>John Doe</td>
                          <td>John@yahoo.com</td>
                          <th>POSITION</th>
                          <td>2017</td>
                          <td>0789606573</td>
                        </tr>
                      </tbody>
                     </table>
                     </div>

    </div>
    <div id="army" class="tab-pane fade in active">
    <h4>ARMY</h4>
                         <div style="padding: 25px 0px 0px 0px">
                     <table class="table table-bordered">
                      <thead style="background-color: #FFFF00;">
                        <tr>
                          <th>FULL NAME</th>
                           <th>EMAIL</th>
                           <th>POSITION</th>
                          <th>YEAR OF DUTY</th>
                          <th>CONTACT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>John Doe</td>
                          <td>John@yahoo.com</td>
                          <th>POSITION</th>
                          <td>2017</td>
                          <td>0789606573</td>
                        </tr>
                      </tbody>
                     </table>
                     </div>

    </div>
    </div>
    </div>
    </div>


    <div id="constituency" class="tab-pane fade">
    <h3>Constituency Leaders </h3>
                         <div style="padding: 25px 0px 0px 0px">
                     <table class="table table-bordered">
                      <thead style="background-color: #FFFF00;">
                        <tr>
                          <th>FULL NAME</th>
                           <th>EMAIL</th>
                           <th>POSITION</th>
                          <th>YEAR OF DUTY</th>
                          <th>CONTACT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>John Doe</td>
                          <td>John@yahoo.com</td>
                          <th>POSITION</th>
                          <td>2017</td>
                          <td>0789606573</td>
                        </tr>
                      </tbody>
                     </table>
                     </div>
    </div>
    <div id="ledges" class="tab-pane fade">
    <h3>Ledges Leaders </h3>     
                         <div style="padding: 25px 0px 0px 0px">
                     <table class="table table-bordered">
                      <thead style="background-color: #FFFF00;">
                        <tr>
                          <th>FULL NAME</th>
                           <th>EMAIL</th>
                           <th>POSITION</th>
                          <th>YEAR OF DUTY</th>
                          <th>CONTACT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>John Doe</td>
                          <td>John@yahoo.com</td>
                          <th>POSITION</th>
                          <td>2017</td>
                          <td>0789606573</td>
                        </tr>
                      </tbody>
                     </table>
                     </div>
    </div>
    <div id="others" class="tab-pane fade">
      <h3>Other Leaders</h3>
                         <div style="padding: 25px 0px 0px 0px">
                     <table class="table table-bordered">
                      <thead style="background-color: #FFFF00;">
                        <tr>
                          <th>FULL NAME</th>
                           <th>EMAIL</th>
                           <th>POSITION</th>
                          <th>YEAR OF DUTY</th>
                          <th>CONTACT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>John Doe</td>
                          <td>John@yahoo.com</td>
                          <th>POSITION</th>
                          <td>2017</td>
                          <td>0789606573</td>
                        </tr>
                      </tbody>
                     </table>
                     </div>
    </div>
  </div>
  </div>



{% endblock %}