<!DOCTYPE html>
<html lang="en">
<head>
  <title>National ID </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/font-awesome.css">
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
</head>
<style>
  body{
    background-image: url('static/img/abstract.jpg');
  }
</style>
<body>
  
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">National ID</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </div>
</nav>


<div class="container-fluid">
    {% block content %}

    {% endblock %}
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
<footer class="panel text-center">
  <h5><span class="copyright">Copyright &copy; <a href="">National Resistance Movement-NRM</a>.</span>   All right reserved.</h5>
</footer>
</nav>

 </body>
</html>