{% extends "dash.html" %}
 
{% block content %}

<div class="container-fuild">
      <ul class="nav nav-right">
        <li><a class="btn btn-warning btn-xs pull-right" href="chairman">Admin Dashboard </a></li>
      </ul>
<div class="rows">
<div class="col-sm-3"> {% include 'messages.html' %}</div>
<div class="col-sm-6">

  <h2>Upload</h2>
  <form method="POST" action="/upload" >
    {{ form.hidden_tag() }}
    <p>Chose any of these categories below:
     <small style="color:red;">"LC5, Woman-MP, Woman-Counsellor, Nrm-MP, Special-GPs,ER-MP,ARMY-MPs,Constituency-Leaders,Ledges,Other-Leaders"</small></p>

    <div class="form-group">
      {{form.category.label}}
      {{form.category(class="drop-down-list")}}
    </div>

    <div class="form-group">
      {{form.name.label}}
      {{form.name(class="form-control")}}
    </div>
      <div class="form-group">
      {{form.email.label}}
      {{form.email(class="form-control")}}
    </div>

    <div class="form-group">
    {{form.position.label}}
    {{form.position(class="form-control")}}
    </div>
    <div class="form-group">
    {{form.year.label}}
    {{form.year(class="form-control", type="month")}}
    </div>
    <div class="form-group">
    {{form.contact.label}}
    {{form.contact(class="form-control")}}
    </div>

    {{form.submit(class="btn btn-info")}}

  </form>
</div>
<div class="col-sm-3"></div>
</div>
</div>

<br><br>
<br><br>
<br><br>

{% endblock %}